<header class="bar bar-nav">
    <a class="icon icon-close pull-right" ng-click="$dismiss()"></a>
    <h1 class="title">Add Location</h1>
</header>
<div class="content content-padded">
    <form name="locationEditForm" class="input-group location-edit-form">
        <div class="input-row">
            <label>Name</label>
            <input type="text" name="name" required ng-model="location.name" ng-model-options="{debounce:1}">
        </div>
        <div ng-messages="locationEditForm.name.$error" role="alert" ng-if="locationEditForm.name.$touched">
            <div ng-message="required">You did not enter a name</div>
        </div>
        <div class="input-row">
            <label>Address</label>
            <input type="text" name="address" ng-blur="updateCoords()" required ng-model="location.address">
        </div>
        <div ng-messages="locationEditForm.address.$error" role="alert" ng-if="locationEditForm.address.$touched">
            <div ng-message="required">You did not enter an address</div>
        </div>
        <div  class="input-row coordinates-item">
            <label>Coordinates</label>
            <input name="coordinates" disabled required value="{{location.coordinates | coordinates}}">
            <a ng-click="chooseCoords()" class="icon icon-compose pull-right edit-icon"></a>
        </div>
        <div ng-messages="locationEditForm.coordinates.$error" role="alert" ng-if="locationEditForm.coordinates.$touched">
            <div ng-message="required">you must choose coordinates. Click to open map</div>
        </div>
        <div class="input-row">
            <label>Category</label>
            <select required name="category" ng-model="location.category"
                    ng-options="cat.id as cat.name for cat in categories">
            </select>
        </div>
        <div ng-messages="locationEditForm.category.$error" role="alert" ng-if="locationEditForm.category.$touched">
            <div ng-message="required">You did not choose a category</div>
        </div>
        <button class="btn btn-primary btn-block" type="button" ng-disabled="!locationEditForm.$valid" ng-click="save()">Save</button>
        <button class="btn btn-negative btn-block" type="button" ng-click="$dismiss()">Cancel</button>
    </form>

</div>
