<header class="bar bar-nav">
    <h1 class="title">CATEGORIES</h1>
</header>
<div class="content">
    <ul class="table-view">
        <li class="table-view-cell category-item" ng-repeat="category in categories">
            <input class="location-item-name" ng-disabled="category._updating"
                   ng-model="category.name" ng-blur="updateCategory(category)">
            <div class="icon icon-close remove right" ng-hide="category._updating"
                 ng-click="removeCategory(category)"></div>
            <div class="icon icon-refresh waiting right" ng-show="category._updating"></div>
        </li>
        <li class="table-view-cell category-item" ng-show="newCategory">
            <input class="location-item-name" ng-disabled="category._updating"
                   ng-model="newCategory.name" ng-blur="addNewCategoryToCollection()">
            <div class="icon icon-close remove right" ng-hide="category._updating"
                 ng-click="removeNewCategory()"></div>
            <div class="icon icon-refresh waiting right" ng-show="newCategory._updating"></div>
        </li>
        <button class="btn btn-primary btn-block" type="button"
                ng-hide="newCategory" ng-click="addCategory()">Add category</button>
    </ul>
</div>