<header class="bar bar-nav">
    <a class="icon icon-plus pull-right" ng-click="addNew()"></a>
    <a class="icon icon-compose pull-right" ng-show="chosenLocation"
       ng-click="editLocation(chosenLocation)"></a>
    <a class="icon icon-close pull-right" ng-show="chosenLocation"
       ng-click="removeLocation(chosenLocation)"></a>
    <h1 class="title">LOCATIONS</h1>
</header>
<div class="content">
    <my-table items="locations" choice="chosenLocation"
              options="tableOptions"
</div>