<div>
    <div ng-show="$state.includes('root.locations')" ui-view="locations"></div>
    <div ng-show="$state.includes('root.categories')" ui-view="categories"></div>
</div>
<nav class="bar bar-tab">
    <a ng-class="{active:$state.includes('root.locations')}"
        class="tab-item" ui-sref="root.locations">
        <span class="icon icon-list"></span>
        <span class="tab-label">LOCATIONS</span>
    </a>
    <a ng-class="{active:$state.includes('root.categories')}"
        class="tab-item" ui-sref="root.categories">
        <span class="icon icon-pages"></span>
        <span class="tab-label">CATEGORIES</span>
    </a>
</nav>
