body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
}

#map-content {
    height: calc(100% - 140px);
    margin-bottom: 10px;
}
.table-view .table-header {
    background-color:#E2E1E1;
}